---
import MainLayout from '../layouts/MainLayout.astro';
export const prerender = false;

const sess = Astro.session;
if (sess) {
  const userData = await sess.get("user");
  if (!!userData) return Astro.redirect("/dashboard");
}
---

<MainLayout title="Login - Meus Links">
  <div class="flex items-center justify-center ">
    <div class="bg-semi-white p-10 rounded-xl shadow-xl w-full max-w-md">
      <h1 class="text-6xl font-bold text-center mb-8 glow">Linkonator</h1>

      <form id="loginForm" class="space-y-6">
        <input type="email" id="email" placeholder="Email" required class="w-full px-4 py-3 border rounded-lg" />
        <input type="password" id="password" placeholder="Senha" required class="w-full px-4 py-3 border rounded-lg" />
        <button type="submit" class="w-full bg-blue-600 text-white py-3 rounded-lg hover:bg-blue-700 transition">
          Entrar
        </button>
      </form>

      <div id="message" class="mt-4 text-center font-medium"></div>
      
    </div>
  </div>

  <script>
   
  </script>
</MainLayout>
